<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>You Made It, <%= currentUser.name %> </h1>
    <div class="wrapper">
      <h3>Your Current Projects</h3>
      <ul>
        <% if(!currentUser.projects) { %> 
          <p>Let's add some projects to get started</p>
          <% } for( let project of currentUser.projects) {%> 
            <li><%= project._id %> </li>
            <% } %> 
      </ul>
      <a href="/dashboard/new-project">Add a New Project</a>
    </div>
  </body>
</html>
